################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/main/.vs/main/FileContentIndex/7dc36c54-125e-49cd-8f88-f54ebb22852a.vsidx
