################################################################################
# Tento soubor .gitignore byl automaticky vytvořen aplikací Microsoft(R) Visual Studio.
################################################################################

/main/.vs/main/FileContentIndex/7dc36c54-125e-49cd-8f88-f54ebb22852a.vsidx
/main/.vs/main/FileContentIndex/2fd84330-6c8d-470d-949c-3b52c8798081.vsidx
/main/.vs/main/FileContentIndex/6783b47a-5827-4acd-a3e1-6ce174e9ef0b.vsidx
